<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstName</key>
	<string>Joe</string>
	<key>LastName</key>
	<string>Montana</string>
	<key>Amount</key>
	<string>25</string>
</dict>
</plist>
